.tab {
  margin: 10px;
}

.selectedTab {
  color: yellowgreen;
  font-size: larger;
  background-color: transparent;
  border: none;
}

.non-selectedTab {
  color: #fff;
  background-color: transparent;
  border: none;
}
